[package]
name = "wp1-prover"
version = "0.1.0"
edition.workspace = true
repository.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
wp1-recursion-program = { path = "../recursion/program" }
wp1-recursion-compiler = { path = "../recursion/compiler" }
wp1-recursion-core = { path = "../recursion/core" }
wp1-core = { path = "../core" }
p3-challenger = { workspace = true }
p3-baby-bear = { workspace = true }
p3-commit = { workspace = true }
bincode = "1.3.3"
