[profile.ci]
# Print out output for failing tests as soon as they fail, and also at the end
# of the run (for easy scrollability).
failure-output = "immediate-final"
# Show skipped tests in the CI output.
status-level = "skip"
# Do not cancel the test run on the first failure.
fail-fast = false
# Mark tests as slow after 5mins, kill them after 20mins
slow-timeout = { period = "300s", terminate-after = 4 }
# Retry failed tests once, marked flaky if test then passes
retries = 1

[test-groups]
limited = { max-threads = 4 }
very-limited = { max-threads = 1 }

[[profile.ci.overrides]]
filter = '(test(syscall::precompiles) | test(stark::machine) | package(wp1-recursion-program) | package(wp1-recursion-circuit))'
test-group = 'limited'

[[profile.ci.overrides]]
filter = '(test(test_e2e))'
slow-timeout = { period = "1500s", terminate-after = 4 }
test-group = 'very-limited'
