# Nightly sanity checks
name: nightly

on:
  workflow_dispatch: {}
  # Once per day at 00:00 UTC
  schedule:
    - cron: "0 0 * * *"

env:
  CARGO_TERM_COLOR: always

jobs:
  unused-dependencies:
    uses: lurk-lab/ci-workflows/.github/workflows/unused-deps.yml@main

  rust-version-check:
    uses: lurk-lab/ci-workflows/.github/workflows/rust-version-check.yml@main

  typos:
    uses: lurk-lab/ci-workflows/.github/workflows/typos.yml@main

  prove:
    name: Prove integration tests and examples
    runs-on: buildjet-16vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
        with:
          repository: lurk-lab/ci-workflows
      - uses: ./.github/actions/ci-env
      - uses: actions/checkout@v4
      - name: Setup CI
        uses: ./.github/actions/setup
        with:
          pull_token: ${{ secrets.REPO_TOKEN }}
      - run: |
          make
          for i in $(find ./ -maxdepth 1 -mindepth 1 -type d); do
            cd "$i/script"
            cargo run --release
            cd ../../
          done
        working-directory: ${{ github.workspace }}/examples
      - name: Build integration tests
        run: make
        working-directory: ${{ github.workspace }}/tests
      - name: Open an issue on failure
        if: failure()
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_COMMIT: ${{ github.sha }}
          WORKFLOW_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        with:
          filename: .github/NIGHTLY_FAILURE.md
          update_existing: true
